/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light;
  background-color: #f9fafb; /* Light grey background */
  color: #111827;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
